/build/
/libmobile.pc
/mobile_config.h

# Autotools artifacts
/Makefile.in
/aclocal.m4
/ar-lib
/autoconf.h.in
/autoconf.h.in~
/autom4te.cache/
/compile
/config.guess
/config.sub
/configure
/configure~
/depcomp
/install-sh
/ltmain.sh
/m4/
/missing

# In-source build artifacts
*.la
*.lo
*.o
.deps/
.libs/
/Makefile
/autoconf.h
/config.log
/config.status
/libtool
stamp-*
